.jumbotron {
  margin-bottom: 0;
  background-image: url(images/kittens.jpeg);
  background-size: cover;
  background-position-y: -100px;
  min-height: 300px;
}
body {
  max-width: 1200px;
  margin: auto;
}
.jumbotron h1 {
  text-align: center;
  color: white;
  font-size: 7em;
  text-shadow: 3px 3px 5px black;
}
